@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <a asp-controller="ExampleMVC" asp-action="Index">MVC Example</a><br />
    <a asp-page="/ExampleRazor/Index">Razor Pages Example</a>
</div>
