@page
@model SWMNU.NET.TestingApp.Pages.ExampleRazor.IndexModel
@{
    ViewData["Title"] = "Razor Page Examples";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<a asp-page="FlashMessage">Flash Message Example</a><br />
<a asp-page="FormMessage">Form Error Message Example</a>
