@page
@model IndexModel
@{
    ViewData["Title"] = "Razor Page Examples";
}

<div class="container">
    <div class="h-100 p-5 bg-light border-bottom rounded-3">
        <h1 class="display-4 text-center">Welcome to the Razor Pages Testing Area!</h1>
        <p class="lead text-center">
            You can find the code for these examples under <code>&lt;repo&gt;/BS5.FlashMessage.TestingApp/Pages/ExampleRazor/</code>.
        </p>
        <hr class="my-4">
        <div class="col-sm-3 mx-auto text-center">
            <a class="btn btn-primary mb-2" asp-page="FlashMessage">Flash Message Example</a><br />
            <a class="btn btn-primary" asp-page="FormMessage">Form Error Message Example</a>
        </div>
    </div>
</div>
