@{
    ViewData["Title"] = "MVC Examples";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<a asp-action="FlashMessage" asp-controller="ExampleMVC">Flash Message Example</a>
<br />
<a asp-action="FormMessage" asp-controller="ExampleMVC">Form Error Message Example</a>
